* {
	margin: 0;
	padding: 0;
}

*, *:before, *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #42c3d7;
}

body{
	font-family: 'Roboto';
}

h1{
	text-align: center;
	padding: 20px 0;
	color: #32363a;
}

.android{
	width: 334px;
	height: 451px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}

.android div{
	background-color: #a5c63b;
}

.head{
	width: 100%;
	position: absolute;
	height: 154px;
	border-top-right-radius: 400px;
	border-top-left-radius: 400px;

	-moz-border-border-top-right-radius: 400px;
	-moz-border-top-left-radius: 400px;

	-webkit-border-top-right-radius: 400px;
	-webkit-border-top-left-radius: 400px;

}